{% extends 'base_landing.html' %}
{% load static %}
{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" >
          <div>
            <h1>Efficiently track income and expenses, stay financially organized.</h1>
            <a href="{% url 'signup' %}" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" >
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" >
            <img  draggable="false" src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" >
            <div class="content pt-4 pt-lg-0">
              <h3>  About InExTracker</h3>
             InExTracker app helps you stay on top of your finances by allowing you to easily track your income and expenses. With our app, you can easily add and categorize your transactions, set budgets, and view detailed reports to gain insights into your spending habits. Our user-friendly interface makes it easy to stay organized and reach your financial goals. Whether you're trying to save money, pay off debt, or just want to better understand your spending, our app is the perfect solution. Download now and take control of your finances today!
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
   

    <!-- ======= Services Section ======= -->
    <section id="features" class="services section-bg">
      <div class="container">

        <div class="section-title" >
          <h2>Features</h2>
         
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" >
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Organization</a></h4>
              <p class="description">Our app allows you to easily input and categorize your financial transactions, giving you a clear overview of where your money is going.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" >
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-chart"></i></div>
              <h4 class="title"><a href="">Detailed Analysis</a></h4>
              <p class="description">Get insights into your spending habits with detailed reports and charts. Understand where you're over or under budget, and make adjustments accordingly.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"  >
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Multi Currency</a></h4>
              <p class="description">Manage and track your finances in multiple currencies, and automatically convert to your local currency. Perfect for travelers or people who have income/expenses in different currencies..</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"  >
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Cross Platform</a></h4>
              <p class="description">Access your finances on the go or at home with our mobile and web-based app.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" >
          <div class="col-lg-9 text-center text-lg-start ">
            <h4 class="title"> Take control of your finances today with our easy-to-use income and expense tracker app. Download now and start managing your money like a pro!</h4>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="">Get Started</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
   



    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" >
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1"> Is there a free version of the app? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
               Yes. All the price tags are currently not implemented as this is just a demo project
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How do I add transactions to the app? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                You must create an account with us and be logged in. When you are logged in, you can use the <span class="text-primary">"Dashboard"</span> link on the navbar to get to the user dashboard from where you get access to the functionalities of the app
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Does the app support multiple currencies?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, the app supports multiple currencies and automatically converts to your local currency.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Is the app secure?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, the app uses industry-standard encryption and authentication protocols to protect your sensitive financial information.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Can I set reminders for bills and expenses?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                This feature is currently not supported but will be implemented in future updates
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Can I link my bank account to the app? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                This feature is currently not supported but will be implemented in future updates
              </p>
            </div>
          </li>

     

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" >
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" >
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Delta State, Nigeria</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>uwayasidney@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+234 808 610 4783</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" >
            <form action="{% url 'contact' %}" method="post" role="form" class="form-group">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" id="" cols="30" rows="10"></textarea>
              </div>
          
             <button class="btn text-white btn-primary mt-3" type="submit">Send Message</button>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    
  </main><!-- End #main -->


 {% endblock %}